build
/PersonSwingAppMultiThread/nbproject/private/
/PersonSwingAppSwingWorker/nbproject/private/
/MyRectangleApp/nbproject/private/
/MyRectangleApp/dist/
/MyRectangleFXApp/nbproject/private/
/MyRectangleFXApp/dist/